<!DOCTYPE html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/searchStyle.css">
</head>
<body>
    <h1>Search Results</h1>
    <div>
        <% if (search_data.length > 0) { %>
            <ul>
                <% search_data.forEach(function(product) { %>
                    <li>
                        <img src="<%= product.src %>" alt="<%= product.title %>">
                        <h2><%= product.title %></h2>
                        <p>Brand: <%= product.brand %></p>
                        <p>Category: <%= product.category %></p>
                        <p>Price: <%= product.price %></p>
                        <p>Description: <%= product.description %></p>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p><%= message %></p>
        <% } %>
    </div>
</body>
</html>
